/*-TODO-INDEX PAGE BEGIN-*/

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
      url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
      url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
      url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
      url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button,
.btn {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  border: none;
}

.button:hover,
.button:focus,
.btn:hover,
.btn:focus {
  background-color: #f7e296;
  border-width: 0;
}

.button:active,
.btn:active {
  color: rgba(255,255,255,0.3);
}

/* --TODO-HEADER BEGIN--*/
.main-header {
  display: flex;
  flex-direction: column;
  margin: 40px auto 0;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
  width: 1160px;
  height: 190px;
  background-color: #f7e296;
}

.main-header-logo {
  margin-top: -23px;
}

.main-header-logo,
.main-footer-logo {
  margin-bottom: 30px;
  font-size: 48px;
  line-height: 48px;
}

.main-header-logo:hover,
.main-header-logo:focus,
.main-footer-logo:hover,
.main-footer-logo:focus {
  opacity: 0.6;
}

.main-header-logo:active,
.main-footer-logo:active {
  opacity: 0.3;
}

.navigation-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}

.navigation-top,
.menu-catalog-hover {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  text-align: left;
  text-transform: none;
}

.header-form-search {
  position: relative;
  padding-left: 35px;
}

.header-form-search::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-search-field {
  border: none;
  background: transparent;
  opacity: 0.3;
}

.header-search-field:hover {
  opacity: 0.6;
}

.header-search-field:focus {
  opacity: 1;
}

.header-form-search input[type="submit"] {
  display: none;
  width: 85px;
  height: 45px;
  margin-top: -10px;
  border: 2px solid #000000;
  background: transparent;
}

.header-form-search + input[type="submit"]:focus {
  display: inline;
}

.header-user-block {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 0;
  padding: 0;
  text-align: right;
}

.header-user-block li {
  min-width: 100px;
}

.header-user-name {
  margin-right: 20px;
}

.header-user-cart {
  position: relative;
}

.header-user-enter a::before,
.header-user-name a::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 12px;
  height: 12px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-user-compare a::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-user-cart a::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 15px;
  width: 12px;
  height: 12px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-user-enter,
.header-user-name,
.header-user-compare {
  position: relative;
  padding-left: 25px;
  text-align: left;
}

.header-user-block .header-user-enter,
.header-user-block .header-user-out {
  margin-right: auto;
  text-align: left;
}

.header-user-block,
.menu-catalog-hover,
.header-menu-service {
  list-style: none;
}

.header-user-block a,
.header-menu-catalog a,
.header-menu-service a {
  color: #000000;
}

.header-user-block a:hover,
.header-user-block a:focus,
.header-menu-catalog a:hover,
.header-menu-catalog a:focus,
.header-menu-service a:hover,
.header-menu-service a:focus {
  opacity: 0.6;
}

.header-user-block a:active,
.header-menu-catalog a:active,
.header-menu-service a:active {
  opacity: 0.3;
}

.navigation-main {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.2em;
}

.header-menu-catalog {
  position: relative;
  padding-right: 30px;
}

.header-menu-catalog a::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 0;
  width: 16px;
  height: 16px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.menu-catalog-hover {
  position: absolute;
  left: -60px;
  display: flex;
  letter-spacing: normal;
  width: 1160px;
  height: 115px;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  background-color: #f7e296;
  z-index: -1;
}

.menu-catalog-hover li {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.menu-catalog-hover li:nth-last-child(1) {
  margin-right: 0;
}

.header-menu-service {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 0;
  padding: 0;
}

.header-menu-service li {
  width: 120px;
  margin-right: 40px;
}

.header-menu-service li:nth-child(3) {
  text-align: right;
  margin-right: 0;
  margin-left: auto;
}
/*--HEADER END--*/

/*--TODO-MAIN BEGIN--*/
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 20px;
  width: 1160px;
}

.product-slider {
  display: flex;
  flex-direction: column;
  margin-bottom: 110px;
}

.product-slider ul {
  display: flex;
  margin: 0;
  list-style: none;
}

.product-slider-list {
  overflow: hidden;
  padding: 0;
}

.slider-item {
  display: flex;
  min-width: 100%;
  background: linear-gradient(#f7e296 110px, transparent 110px);
}

.slider-img {
  flex-basis: 580px;
  flex-shrink: 0;
  text-align: center;
}

.slider-desc {
  margin-right: 80px;
  position: relative;
}

.product-slider-number {
  position: absolute;
  top: -15px;
  right: 0;
  z-index: 1;
}

.slider-desc .product-slider-number {
  margin: 0 -20px 0 0;
  font-family: inherit;
  font-weight: inherit;
  font-size: 179.2px;
  text-align: right;
  line-height: 179.2px;
  color: #ffffff;
}

.slider-desc h3 {
  position: relative;
  margin: 80px 0 0 0;
  font-size: 47px;
  line-height: 56px;
  text-transform: none;
  z-index: 1;
}

.slider-desc p {
  margin: 20px 0 50px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  text-transform: none;
}

.slider-features {
  padding: 0;
}

.slider-features li {
  margin-right: 65px;
}

.slider-features .slider-feature-value {
  margin-bottom: 10px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
}

.slider-features .slider-feature-info {
  margin: 0;
  font-size: 13px;
  line-height: 20px;
}

.populars {
  display: flex;
  margin-bottom: 80px;
}

.populars-item {
  width: 160px;
  margin-right: 40px;
}

.populars-item:nth-last-child(1) {
  margin-right: 0;
}

.populars-item h3 {
  margin: 40px 0 0 0;
  padding: 0;
  font: inherit;
  color: #000000;
  text-transform: none;
}

.populars-item div {
  display: table-cell;
  vertical-align: middle;
  width: 160px;
  height: 160px;
  margin: auto;
  margin-bottom: 40px;
  background-color: rgba(240, 197, 46, 0.5);
  text-align: center;
}

.populars-item img {

}

.populars-item div:hover,
.populars-item div:focus {
  background-color: rgba(240, 197, 46, 1);
}

.populars-item div:active {
  background-color: rgba(240, 197, 46, 1);
}

.populars-item div:active img {
  opacity: 0.3;
}

.services {
  position: relative;
  display: flex;
  margin-bottom: 120px;
  background: linear-gradient(#ffffff 100px, #e5e5e5 100px);
}

.services ul {
  margin: 0;
  padding: 0;
}

.services::before {
  content: "";
  position: absolute;
  top: 0;
  right: 1160px;
  width: 2000px;
  height: 390px;
  background: linear-gradient(#ffffff 100px, #e5e5e5 100px);
}

.services::after {
  content: "";
  position: absolute;
  top: 0;
  left: 1160px;
  width: 2000px;
  height: 390px;
  background: linear-gradient(#ffffff 100px, #e5e5e5 100px);
}

.services-button {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 273px;
  height: 240px;
  padding-top: 77px;
  border-right: 7px solid #000000;
}

.services-button .button {
  width: 160px;
  margin-bottom: 28px;
  padding: 11px 0 11px 20px;
}

.services-button .button:hover,
.services-button .button:focus {
  background-color: #f0c52e;
}

.services-button .button:active,
.services-button .services-button-current {
  width: 260px;
  color: #f7e184;
  background-color: #000000;
}

#delivery:checked ~ .services-item {
  left: 0;
  width: 260px;
  color: #f7e184;
  background-color: #000000;
}

#warranty:checked ~ .services-item {
  left: -880px;
}

#credit:checked ~ .services-item {
  left: -1760px;
}

.services-list {
  overflow: hidden;
  position: relative;
  display: flex;
  width: 880px;
  height: 390px;
  list-style: none;
}

.services-item {
  position: relative;
  min-width: 460px;
  height: 310px;
  margin-right: 60px;
  padding: 72px 240px 0 120px;
}

.services-item h3 {
  margin: 0;
  font-size: 47px;
  line-height: 48px;
  text-transform: none;
}

.services-item p {
  margin-top: 40px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  text-transform: none;
}

.service-item-delivery::after {
  content: "";
  position: absolute;
  top: 85px;
  right: 0;
  width: 136px;
  height: 164px;
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-item-warranty::after {
  content: "";
  position: absolute;
  top: 60px;
  right: 0;
  width: 171px;
  height: 195px;
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-item-credit::after {
  content: "";
  position: absolute;
  top: 60px;
  right: 0;
  width: 156px;
  height: 188px;
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-item-input {
  list-style: none;
}

.logotypes {
  display: flex;
  justify-content: space-around;
  margin-bottom: 90px;
}

.logotypes-item img {
  filter: grayscale(1);
  opacity: 0.2;
}

.logotypes-item img:hover {
  filter: grayscale(0);
  opacity: 1;
}

.main-content {
  display: flex;
  text-transform: none;
}

.main-content h2 {
  margin: 0;
  margin-bottom: 45px;
  font-size: 47px;
  line-height: 48px;
}

.main-content p {
  margin: 0;
  margin-bottom: 35px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  text-transform: none;
}

.info,
.contact {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 45px;
}

.info:before,
.contact:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  border-top: 7px solid #000000;
}

.info .button,
.contact .button {
  margin-top: auto;
}

.info ul {
  margin-top: 30px;
}

.info li {
  list-style: none;
  font-size: 16px;
  line-height: 40px;
  text-transform: none;
}

.contact img {
  margin-top: 10px;
  margin-bottom: 75px;
}
/*--MAIN END--*/

/*-TODO-INNER PAGE BEGIN-*/
.main-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
}

.page-title {
  margin-left: 60px;
  font-size: 47px;
  line-height: 48px;
}

.breadcrumbs {
  display: flex;
  margin: 0 0 50px 60px;
  padding: 0;
  list-style: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}

.breadcrumbs a {
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.breadcrumbs a::after {
  margin: 10px 15px 0 15px;
  content: "";
  float: right;
  background-image: url("../img/nav-arrow.svg");
  width: 4px;
  height: 7px;
}

.page-content {
  display: flex;
  position: relative;
}

.sidebar {
  margin-left: 60px;
  background-color: #eeeeee;
  width: 270px;
}

.sidebar-title {
  height: 25px;
  padding: 30px 0 30px;
  margin-bottom: 70px;
  background-color: #dcdcdc;
}

.sidebar h2,
.sorting h2 {
  margin: 0;
  font-size: 16px;
}

.sidebar-title::before {
  content: "";
  position: absolute;
  text-align: right;
  top: 0;
  z-index: 1;
  right: 1100px;
  width: 2000px;
  height: 85px;
  background-color: #dcdcdc;
}

.sidebar form::before {
  content: "";
  position: absolute;
  text-align: right;
  top: 0;
  right: 1100px;
  width: 2000px;
  height: 100%;
  background-color: #eeeeee;
}

.filter-item {
  margin: 0;
  padding: 0;
  text-transform: none;
}

.filter-cost,
.filter-color,
.filter-bluetooth {
  margin-bottom: 40px;
  border-width:  0;
}

.filter-cost legend,
.filter-color legend,
.filter-bluetooth legend {
  width: 200px;
  padding-top: 15px;
  border-top: 2px solid #000000;
  margin-bottom: 30px;
}

.filter-color ul,
.filter-bluetooth ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-option label {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  text-transform: none;
}

.filter-input-checkbox + label::before {
  content: "";
  margin-top: 5px;
  margin-right: 20px;
  width: 27px;
  height: 23px;
  float: left;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: top left;
}

.filter-input-checkbox-checked + label::before {
  content: "";
  margin-top: 5px;
  margin-right: 20px;
  width: 27px;
  height: 23px;
  float: left;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: top left;
}

.filter-range-control {
  margin-top: 10px;
}

.filter-range-value {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  opacity: 0.2;
}

.range-min-price input {
  width: 70px;
}

.filter-input-checkbox:hover::before,
.filter-input-checkbox:focus::before {
  opacity: 0.6;
}

.filter-range-value input {
  border-width: 0;
}

.filter-input-radio+label::before {
  content: "";
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-right: 20px;
  float: left;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: top left;
}

.filter-input-radio-checked+label::before {
  content: "";
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-right: 20px;
  float: left;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: top left;
}

.catalog {
  width: 830px;
}

.sorting {
  display: flex;
  justify-content: space-between;
  width: 760px;
  height: 25px;
  padding: 30px 0 30px 70px;
  margin-bottom: 70px;
  background-color: #ebebeb;
}

.sorting::after {
  content: "";
  position: absolute;
  top: 0;
  left: 1160px;
  width: 2000px;
  height: 85px;
  background-color: #ebebeb;
}

.sorting-title {
  margin-right: 40px;
}

.catalog-sorting {
  display: flex;
  align-items: center;
  margin: 0 auto 0 0;
  padding: 0;
}

.catalog-sorting li{
  margin-right: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  list-style: none;
  opacity: 0.3;
}

.catalog-sorting li:nth-child(1) {
  opacity: 1;
}

.catalog-sorting li:hover,
.catalog-sorting li:focus {
  opacity: 0.6;
}

.catalog-sorting li:active {
  opacity: 1;
}

.sorting-arrows {
  display: flex;
  justify-content: space-between;
  width: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.arrow-up {
  width: 11px;
  height: 10px;
  margin-top: 5px;
  float: left;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: top center;
  opacity: 0.2;
}

.arrow-down-active {
  width: 11px;
  height: 10px;
  margin-top: 5px;
  float: left;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
}

.catalog-item {
  margin-right: 40px;
  margin-bottom: 40px;
  position: relative;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-hover {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 200px;
  height: 60px;
  top: 180px;
  left: 80px;
  text-align: center;
}

.btn-compare {
  margin-top: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #000000;
  text-transform: none;
  opacity: 0.5;
}

.btn-compare:hover,
.btn-compare:focus {
  opacity: 1;
}

.btn-compare:active {
  opacity: 0.2;
}

.catalog-info-text {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

}

.catalog-item-title {
  width: 260px;
  margin: 0;
  padding: 0;
  font: inherit;
  color: #000000;
  text-transform: none;
}

.catalog-item-price {
  font-family: "Gilroy", Arial,sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
  pointer-events: none;
}

.catalog-item-new::before {
  content: "NEW";
  position: absolute;
  top: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  padding-top: 17px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  float: right;
  border-radius: 50%;
  border: 2px solid #000000;
  text-align: center;
  box-sizing: border-box;
  opacity: 0.1;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: 0 0 0 70px;
  padding: 30px;
  font-size: 16px;
  color: #000000;
  background-color: rgba(0, 0, 0, 0.08);
  list-style: none;
}

.pagination-list a {
  color: #000000;
}

.pagination-item {
  margin-right: 30px;
  opacity: 0.3
}

.pagination-item:nth-last-child(2) {
  margin-right: 0;
}

.pagination-item.pagination-item-current {
  opacity: 1;
}

.paginator-prev {
  margin-right: auto;
}

.paginator-next {
  margin-left: auto;
}

.paginator-prev,
.paginator-next {
  letter-spacing: 0.2em;
}

.paginator-prev:hover,
.paginator-prev:focus,
.paginator-next:hover,
.paginator-next:focus {
  background-color: rgba(0, 0, 0, 0.08);
}

.paginator-prev:active,
.paginator-next:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.08);
}
/*-INNER PAGE END-*/

/*--TODO-FOOTER BEGIN--*/
.main-footer {
  margin-top: 95px;
  padding-top: 55px;
  background-color: #464646;
}

.footer-catalog-top,
.footer-catalog-center,
.footer-catalog-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-catalog-top {
  margin-bottom: 25px;
}

.main-footer-logo {
  color: #ffc600;
  margin: 0;
}

.main-footer-menu,
.footer-user-block {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-footer-address,
.main-footer-phone,
.footer-user-block a {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  text-transform: none;
  color: #ffffff;
}

.footer-user-block {
  display: flex;
  justify-content: space-between;
}

.footer-user-block span {
  opacity: 0.7;
}

.footer-user-enter a,
.footer-user-name a,
.footer-user-compare a,
.footer-user-cart a {
  position: relative;
  margin-left: 40px;
  padding-left: 27px;
}

.footer-user-enter a:hover span,
.footer-user-name a:hover span,
.footer-user-out a:hover span,
.footer-user-compare a:hover span,
.footer-user-cart a:hover span {
  opacity: 1;
}

.footer-user-out {
  margin-left: 20px;
  /*opacity: 0.3;*/
}

.footer-user-out span {
  opacity: 0.3;
}

.footer-user-enter a::before,
.footer-user-name a::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  background-image: url("../img/user.svg#user-yellow");
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
}

.footer-user-compare a::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  background-image: url("../img/compare.svg#compare-yellow");
  background-repeat: no-repeat;
  background-position: top center;
  width: 13px;
  height: 13px;
  opacity: 1;
}

.footer-user-cart a::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  background-image: url("../img/cart.svg#cart-yellow");
  background-repeat: no-repeat;
  background-position: top center;
  width: 13px;
  height: 13px;
}

.footer-user-enter a:hover::before,
.footer-user-enter a:focus::before,
.footer-user-name a:hover::before,
.footer-user-name a:focus::before,
.footer-user-compare a:hover::before,
.footer-user-compare a:focus::before,
.footer-user-cart a:hover::before,
.footer-user-cart a:focus::before{
  opacity: 0.6;
}

.footer-user-enter a:active,
.footer-user-name a:active,
.footer-user-compare a:active,
.footer-user-cart a:active {
  opacity: 0.3;
}

.footer-catalog-center {
  align-items: center;
  margin-bottom: 70px;
}

.footer-catalog-center p {
  margin: 0;
}

.main-footer-menu {
  display: flex;
  justify-content: space-between;
  width: 425px;
}

.main-footer-menu a {
  letter-spacing: 0.2em;
  color: #ffffff;
}

.main-footer-menu a:hover,
.main-footer-menu a:focus {
  opacity: 0.6;
}

.main-footer-menu a:active {
  opacity: 0.3;
}

.footer-catalog-bottom {
  align-items: center;
  margin-bottom: 65px;
}

.footer-line {
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.main-footer-social {
  display: flex;
  justify-content: space-between;
  width: 140px;
  height: 32px;
}

.social-btn {
  position: relative;
  padding-left: 32px;
}

.social-btn-fb::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.social-btn-inst::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/inst.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.social-btn-tw::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/tw.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.social-btn-fb:hover::before,
.social-btn-fb:focus::before,
.social-btn-inst:hover::before,
.social-btn-inst:focus::before,
.social-btn-tw:hover::before,
.social-btn-tw:focus::before {
  opacity: 0.6;
}

.social-btn-fb:active::before,
.social-btn-inst:active::before,
.social-btn-tw:active::before {
  opacity: 0.1;
}

.logo-htmlacademy::before {
  content: "";
  float: right;
  background-image: url("../img/logo-html.svg");
  background-repeat: no-repeat;
  background-position: top center;
  width: 27px;
  height: 35px;
}

.logo-htmlacademy:hover::before,
.logo-htmlacademy:focus::before {
  opacity: 0.6;
}

.logo-htmlacademy:active::before {
  opacity: 0.3;
}
/*--FOOTER END--*/

/*--TODO-MODAL BEGIN--*/
.modal {
  position: relative;
  margin: 10px auto;
  width: 760px;
  box-shadow: 0 0 20px 0 rgba(4, 6, 6, 0.2);
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  border-style: none;
  background: none;
}

.modal-close::before {
  content: "";
  float: left;
  background-image: url("../img/modal-close.svg");
  width: 55px;
  height: 55px;
  opacity: 0.5;
}

.modal-close:hover::before,
.modal-close:focus::before {
  opacity: 1;
}

.modal-close:active::before {
  opacity: 0.3;
}

.modal-send-message {
  padding: 95px 100px 90px 100px;
}

.send-message-form {
  display: flex;
  flex-direction: column;
}

.send-message-form label {
  text-transform: none;
}

.message-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.message-input-text {
  width: 356px;
}

.message-textarea {
  width: 756px;
  margin-bottom: 40px;
}


.message-input-text,
.message-textarea {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);
  background-color: rgba(229, 229, 229, 0.5);
}

.message-input-text:hover,
.message-textarea:hover {
  outline: none;
  background-color: rgba(229, 229, 229, 0.8);
}

.message-input-text:focus,
.message-textarea:focus {
  outline: none;
  background: none;
  border: 3px solid rgba(240, 197, 46,0.5);
}

.message-input-text:focus::-webkit-input-placeholder,
.message-textarea:focus::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 1);
}

.message-input-text:focus::-moz-placeholder,
.message-textarea:focus::-moz-placeholder  {
  color: rgba(70, 70, 70, 1);
}

.message-input-text:focus:-ms-input-placeholder,
.message-textarea:focus:-ms-input-placeholder {
  color: rgba(70, 70, 70, 1);
}

.send-message-form .button {
  width: 200px;
  float: left;
}

.modal-map {

  width: 960px;
  height: 560px;
}
/*--MODAL END--*/
/*-TODO-INDEX PAGE END-*/


